<?xml version="1.0"?>
<launch>

  <!-- launching cartographer node and parameters -->
 <!-- <include file="$(find odom)/launch/odom.launch"/> -->

   <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
         -configuration_directory $(find hunter2_gazebo)/config
         -configuration_basename robot.lua" 
      output="screen">

      <!--remap from="/imu" to="/imu"/-->
      <remap from="/odom" to="/ackermann_steering_controller/odom"/>
      <!--remap from="/scan" to="/scan_multi"/-->
      <remap from="/points2" to="/velodyne_points"/>
   </node>
   

  <param name="robot_description" command="$(find xacro)/xacro '$(find hunter2_base)/urdf/hunter2_base.urdf'" /> 
   
   
   <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

    <!-- TOPIC TRANSFORM -->
   <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find hunter2_gazebo)/rviz/carto.rviz" />
 
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_cloud" args="0 0 0 0 0 0 /base_link /cloud 10" />
    <node pkg="tf" type="static_transform_publisher" name="imu_link_to_map" args="0 0 0 0 0 0 /imu_link /map 10" /> -->

<!-- TOPIC TRANSFORM (hunter_gazebo) -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" args="0 0 0 0 0 0 /base_link /laser_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0 0 0 0 0 0 /base_link /imu_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.35 0 0 0 /base_footprint /base_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint" args="0 0 0 0 0 0 /odom /base_footprint 10" /> -->


</launch>
